<template>
  <div>
    <h1 v-if="fName">Bem-vindo, {{ fName }}</h1>
    <h1 v-if="!fName">Por favor, faça login</h1>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
    }
  },
  components: {
  },
  methods: {},
  computed: {
    ...mapState('auth', ['user', 'fName', 'isLoggedIn']),
  },
  created() {
  },
};
</script>
