<template>
  <div>
    <v-navigation-drawer
    clipped
    fixed
    v-model="drawer"
    app
    >
    <v-list class="pt-0">
      <v-list-tile
        v-for="item in items"
        :key="item.title"
        :to="item.route"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
    <v-toolbar
      app
      fixed
      class="primary"
      clipped-left
      dark
    >
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span>APOLO</span>
        <span class="font-weight-light">ifmg</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        v-if="!isLoggedIn"
      >
      <span class="mr-2" @click="login()">Login</span>
      </v-btn>

      <div class="text-xs-center" v-if="isLoggedIn">
        <v-menu
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
        >
          <template v-slot:activator="{ on }">
            <v-btn
              fab
              small
              flat
              v-on="on"
            >
              <v-avatar
                size="36"
              >
                <img :src="user.image" :alt="user.name">
              </v-avatar>
            </v-btn>
          </template>

          <v-card flat>
            <v-list class="grey lighten-3">
              <v-list-tile avatar>
                <v-list-tile-avatar>
                  <img :src="user.image" :alt="user.name">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ user.name }}
                  </v-list-tile-title>
                  <v-list-tile-sub-title>
                    {{ user.email }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list dense>
              <v-list-tile @click="logout()">
                <v-list-tile-action>
                  <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Log Out</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      drawer: true,
      items: [
        { title: 'Início', icon: 'dashboard', route: '/' },
        { title: 'Sobre', icon: 'question_answer', route: '/about' },
      ],
    };
  },
  computed: mapState('auth', ['user', 'isLoggedIn']),
  methods: mapActions('auth', ['login', 'logout']),
};
</script>
