<template>
  <v-app>
    <ToolbarAndMenu />
    <v-content>
      <router-view class="container"></router-view>
    </v-content>
  </v-app>
</template>

<script>
import ToolbarAndMenu from '@/components/Menu.vue';

export default {
  name: 'App',
  components: {
    ToolbarAndMenu,
  },
  data() {
    return {
    };
  },
};
</script>
